:root {
    --brand-color-brand-color-contrast: #008859;
    --brand-color-brand-color: #00915a;
    --brand-color-brand-color-light: #00bc8c;
    --brand-color-brand-color-light-2: #4ae0ac;
    --brand-color-flash-green: #00a951;
    --brand-color-drak-green: #007265;
    --brand-color-brand-color-10: transparentize(var(--brand-color-brand-color), 0.9);
    --grey-color-grey-70: #464c4b;
    --grey-color-grey-60: #626362;
    --grey-color-grey-90: #2d2926;
    --grey-color-grey-50: #828282;
    --grey-color-grey-30: #f5f8f7;
    --grey-color-grey-20: #d9e3de;
    --grey-color-white: #fff;
    --grey-color-grey-10: #ebf1ee;
    --grey-color-grey-10-30: transparentize(var(--grey-color-grey-10), 0.7);
    --primary-color-sensible-sensible: #d0434b;
    --primary-color-sensible-light-sensible: #edbfc1;
    --primary-color-sensible-dark-sensible: #781f24;
    --primary-color-dark-dark-1: #035d2e;
    --primary-color-dark-dark-2: #245933;
    --primary-color-dark-dark-3: #0a6b40;
    --primary-color-dark-dark-4: #0d7840;
    --primary-color-dark-dark-5: #026f5c;
    --primary-color-light-light-1: #408c37;
    --primary-color-light-light-2: #17b030;
    --primary-color-light-light-3: #30c438;
    --primary-color-light-light-4: #5ebd30;
    --primary-color-light-light-5: #8fd429;
    --focus-default: rgba(0, 156, 151, 0.3);
    --focus-darkbgfocus: rgba(155, 255, 243, 0.3);
    --pure-color-black: #000;
    --alert-color-error: #d52727;
    --alert-color-error-dark: #801717;
    --alert-color-error-light: #fbe9e9;
    --alert-color-information: #03bbf5;
    --alert-color-information-dark: #014b62;
    --alert-color-information-light: #e6f8fe;
    --alert-color-warning: #f4af04;
    --alert-color-warning-light: #fef9e6;
    --alert-color-warning-dark: #624c02;
    --alert-color-success: #47ba0b;
    --alert-color-success-dark: #2b7007;
    --alert-color-success-light: #f4feef;
    --secondary-purple-purple-8: #8027a7;
    --secondary-purple-purple-7: #9f2744;
    --secondary-purple-purple-6: #96117b;
    --secondary-purple-purple-5: #540085;
    --secondary-purple-purple-4: #63068a;
    --secondary-purple-purple-3: #8f0d96;
  }